body {
    font-size: 13px;
    line-height: 1.8;
    color: #222;
    background: #f8f8f8;
    font-family: Poppins;
}

h2 {
    margin: 30px;
    padding-top: 20px;
    text-transform: uppercase;
    font-size: large;
}

p {
    margin: 20px;
    padding-bottom: 5px;
}

.format{
    text-transform: uppercase;
    color: cornflowerblue;
}

.option{
    margin: 20px;
    padding: 20px;
}

.desc-format {
    position: center;
}

.containerNew {
    padding: 10px;
    background: #fff;
    margin: 0px auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 20px;
}

.fill-container {
    padding: 30px;
    width: 100%;
    height: 100%;
    position: center;
    object-fit: fill;
}

.fill-container, source {
    display: block;
    margin: 0 auto;
}

.containerTable {
    background: #fff;
    margin: 0px auto;
    padding: 50px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 20px;
}

.containerNew2 {
    background: #fff;
    margin: 0px auto;
    padding: 50px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 20px;
}

.form {
    margin-left: 75px;
    margin-right: 75px;
    padding-left: 34px;
}