body {
    font-size: 13px;
    line-height: 1.8;
    color: #222;
    background: #f8f8f8;
    font-family: Poppins;
}

h2 {
    margin: 30px;
    padding-top: 20px;
    text-transform: uppercase;
    font-size: large;
}

p {
    margin: 20px;
    padding-bottom: 5px;
}

.fill-container {
    padding: 30px;
    width: 100%;
    height: 100%;
    position: center;
    object-fit: fill;
}

.fill-container, source {
    display: block;
    margin: 0 auto;
}

.title-page {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.video-text {
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #216ad9;
    text-align: center;
}

.containerNew2 {
    background: #fff;
    margin: 0px auto;
    padding: 30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}