body {
    font-family: Poppins;
    font-size: 13px;
    line-height: 1.8;
    color: #222;
    background: #f8f8f8;
}

.containerNew {
    background: #fff;
    margin: 0px auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 20px;
}

.fill-container {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 90%;
    overflow: hidden;
}