body {
    font-size: 13px;
    line-height: 1.8;
    color: #222;
    background: #f8f8f8;
    font-weight: 400;
    font-family: Poppins;
}

.containerNew{
    position: center;
    margin: 0 100px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.fill-container {
    width: 100%;
    height: 100%;
    position: center;
    object-fit: fill;
}