* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.content {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.fill-container {
    padding: 30px;
    width: 60%;
    height: 60%;
    position: center;
    object-fit: fill;
}

.content .text {
    position: relative;
    max-width: 600px;
}

.content .text h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.5em;
    letter-spacing: .1em;
    font-size: 40px;
}

.content .text h1 span {
    color: #714496;
    background: linear-gradient(#714496 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: .4s, background-position 0s;
}

.content .text h1 span:hover {
    --p: 100%;
    color: black;
}

.content .text p {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: .1em;
    margin-top: 40px;
}


.btn3 {
    background: #714496;
    margin-top: 60px;
    margin-left: 140px;
    padding: 15px 30px;
    text-align: center;
    transition: .5s;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 700;
    border-radius: 30px;
    box-shadow: 1px 4px 12px rgba(94,28,68,.15);
}