body {
    font-size: 13px;
    line-height: 1.8;
    color: #222;
    background: #f8f8f8;
    font-family: Poppins;
}

h2 {
    margin-bottom: 50px;
}

div{
    display: block;
}

.login-form {
    margin-left: 75px;
    margin-right: 75px;
    padding-left: 34px;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
}

input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    font-family: Poppins;
    box-sizing: border-box;
}

label {
    position: absolute;
    left: 0;
    color: #222;
}

.login{
    margin-bottom: 150px;
}

.login-content {
    display: flex;
    padding: 75px 0;
}

.login-image {
    padding: 100px;
    margin-top: 70px;
    margin: 0 75px;
}

.login-form, .login-image{
    width: 40%;
    overflow: hidden;
}

.signup-link {
    font-size: 14px;
    color: #222;
    display: block;
    text-align: center;
}

.containerNew {
    background: #fff;
    margin: 0 auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 20px;
}