* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.content {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.content .form_login {
    position: relative;
    max-width: 600px;
}

.btn3 {
    background: #714496;
    padding: 15px 30px;
    text-align: center;
    transition: .5s;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 1px 4px 12px rgba(94,28,68,.15);
}

.login_image {
    float: left;
    margin: 0 0 0 15px;
}

.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.form-inline .form-control {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.form-inline .form-group {
    margin-right: 20px;
}
