* {
    font-size: 13px;
    line-height: 1.8;
    font-family: Poppins;
}

h2 {
    margin-bottom: 50px;
}

body {
    font-size: 13px;
    line-height: 1.8;
    color: #222;
    background: #f8f8f8;
    font-family: Poppins;
}

.title-page {
    position: relative;
    height: 500px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.fill-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fill-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-text {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #216ad9;
}

h4 {
    font-weight: bold;
}
.manager-profile {
    padding: 30px;
    background: #fff;
    margin: 0px auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.containerNew {
    padding: 30px;
    background: #fff;
    margin: 0px auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* Style the search field */
form.example input[type=text] {
    padding: inherit;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 100%;
    background: #f1f1f1;
}

/* Style the submit button */
form.example button {
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}

