body {
    font-size: 13px;
    line-height: 1.8;
    color: #222;
    background: #f8f8f8;
    font-family: Poppins;
}

h1 {
    padding-left: 110px;
}

h2 {
    margin: 30px;
    padding-top: 20px;
    text-transform: uppercase;
    font-size: large;
}

p {
    margin: 20px;
    padding-bottom: 5px;
}

.title-page {
    position: relative;
    height: 500px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.fill-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fill-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-text {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #216ad9;
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}