body {
    font-size: 13px;
    line-height: 1.8;
    color: #222;
    background: #f8f8f8;
    font-family: Poppins;
}

.manager-profile {
    padding: 100px;
    background: #fff;
    margin: 0px auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}


.project-manager {
    display: block;
    padding: 50px;
    background: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.calender {
    display: block;
    padding: 50px;
    background: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}