* {
    font-size: 13px;
    line-height: 1.8;
    font-family: Poppins;
}

.body {
    font-size: 13px;
    line-height: 1.8;
    color: #222;
    background: #f8f8f8;
    font-family: Poppins;
}

h2 {
    margin-bottom: 50px;
}

.fill-container {
    padding: 30px;
    width: 100%;
    height: 100%;
    position: center;
    object-fit: fill;
}

.fill-container, source {
    display: block;
    margin: 0 auto;
}

.video-text {
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #216ad9;
    text-align: center;
}

.title-page {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.containerTable {
    padding: 30px;
    padding-bottom: 50px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.search-bar {
    padding: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.findProjectsDepartment {
    flex-direction: row;
}