* {
    font-size: 13px;
    line-height: 1.8;
    font-family: Poppins;
}

.body {
    font-size: 13px;
    line-height: 1.8;
    color: #222;
    background: #f8f8f8;
    font-family: Poppins;
}

.fill-container {
    position: relative;
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
    object-fit: cover;
}

.fill-container, source {
    display: block;
    margin: 0 auto;
}

.video-text {
    position: absolute;
    top: 55%;
    left: 20%;
    z-index: 1;
    color: #216ad9;
}

.title-page {
    position: relative;
    margin: 0px auto;
    height: 500px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.centered-heading {
    position: absolute;
    font-size: 4rem;
    left: 5%;
    bottom: 10%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-weight: bold;
}

.containerNew {
    display: table;
    background: #fff;
    margin: 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 100%;
}

.centered-heading {
    position: absolute;
    font-size: 4rem;
    left: 5%;
    bottom: 10%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-weight: bold;
}

.containerNew {
    display: table;
    background: #fff;
    margin: 0 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

h2 {
    margin-bottom: 50px;
}

.project-div-form {
    margin-left: 75px;
    margin-right: 75px;
    padding-left: 34px;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
}

input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    font-family: Poppins;
    box-sizing: border-box;
}

label {
    position: absolute;
    left: 0;
    color: #222;
}

.project {
    margin-bottom: 150px;
}

.project-content {
    display: flex;
    padding: 50px;
}

.containerTable {
    display: table;
    background: #fff;
    margin: 0px auto;
    padding: 50px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.containerTable h5 {
    text-align: center;
}

.containerTable table {
    margin: 0 auto;
}
