h2 {
    margin-bottom: 50px;
}

.fill-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fill-container, source {
    display: block;
    margin: 0 auto;
}

.video-text {
    position: absolute;
    top: 55%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #216ad9;
    font-family: Poppins;
}

.title-page {
    position: relative;
    width: 100%;
    height: 500px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.centered-heading {
    position: absolute;
    font-size: 4rem;
    left: 5%;
    bottom: 10%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-weight: bold;
}

.containerTable {
    font-family: Poppins;
    font-size: 13px;
    line-height: 1.8;
    padding: 30px;
    padding-bottom: 50px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.search-bar {
    padding: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.findProjectsDepartment {
    flex-direction: row;
}