.body {
    font-size: 13px;
    line-height: 1.8;
    color: #222;
    background: #f8f8f8;
    font-family: Poppins;
}

.containerNew {
    display: table;
    background: #fff;
    margin: 0 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

h2 {
    margin-bottom: 50px;
}

.project-div-form {
    margin-left: 75px;
    margin-right: 75px;
    padding-left: 34px;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
}

input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    font-family: Poppins;
    box-sizing: border-box;
}

label {
    position: absolute;
    left: 0;
    color: #222;
}

.project {
    margin-bottom: 150px;
}

.project-content {
    display: flex;
    padding: 75px 0;
}

.project-image {
    padding: 100px;
    margin-top: 70px;
    margin: 0 75px;
}

img{
    width: 700px;
}

.fill-container {
    padding: 30px;
    width: 100%;
    height: 100%;
    position: center;
    object-fit: fill;
}

.fill-container, source {
    display: block;
    margin: 0 auto;
}

.video-text {
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #216ad9;
    text-align: center;
}

.title-page {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}