body {
    font-size: 13px;
    line-height: 1.8;
    color: #222;
    background: #f8f8f8;
    font-weight: 400;
    font-family: Poppins;
}

h2 {
    margin-left: 65px;
    margin-right: 65px;
    margin-bottom: 50px;
}

div {
    display: block;
}

.containerNew {
    background: #fff;
    margin: 0 auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 20px;
}

.register-form {
    margin-left: 75px;
    margin-right: 105px;
    padding-left: 50px;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
}

input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    font-family: Poppins;
    box-sizing: border-box;
}

.label, .icon-lable {
    position: absolute;
    left: 0;
}

.register {
    margin-bottom: 150px;
}

.register-content {
    display: flex;
    padding: 75px 0;
}

.register-image {
    margin-top: 30px;
    margin: 0 55px;
}

.register-form {
    width: 40%;
    overflow: hidden;
}
